.env
node_modules/
bun.lock
.DS_Store
*.log
# VSCode
.vscode/
# Mac system files
.DS_Store
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
__pycache__/
chat_history/
venv/
src/Test_On_Python/
src/index_2.ts
src/index_5.ts
src/old_index.ts